<% if @current_basket %>
  <ul class="list-group">
    <% @current_basket.ordered_lines.each do |line| %>
      <li class="list-group-item">
        <%= render partial: "products/line", locals: { product: line.product, line: line } %>
      </li>
    <% end %>
  </ul>
<% else %>
  Basket unavailable.
<% end %>
<% if @current_basket.ordered_lines.empty? %>
  <h5><%= t(:empty_basket) %></h5>
<% end %>