<div class="jumbotron welcome">
  <h1 class="display-4 hue"><%= t(:welcome).capitalize %></h1>
  <p class="lead hue"><%= t(:welcome_text) %></p>
  <hr class="my-4">
  <p class="hue"><%= t(:welcome_subtext) %></p>
</div>