<div id="resume">
  <div id="#top">
    <div id="title">
      <ul>
        <li>Autodidact</li>
        <li>Rails</li>
        <li>TDD</li>
      </ul>
      <span>Clean Coder</span>
    </div>
    <div id="info">
      <div id="name"></div>
        Jean-Charles Belouard
      </div>
      <div id="details">
        <table>
          <tr>
            <th>Date of birth:</th>
            <td>06/19/1982</td>
          </tr>
          <tr>
            <th>Adress:</th>
            <td>Stuttgarterstr. 17, 12059 Berlin</td>
          </tr>
          <tr>
            <th>Telephone:</th>
            <td>+49 1520 625 1494</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>jcbelouard@gmail.com</td>
          </tr>
        </table>
      </div>
      <div id="social"></div>
  </div>

  <div id="side">
    <div id="skills">
    
    </div>
    <div id="stack">
    
    </div>
  </div>

  <main>

  </main>
</div>

<div id="cover">
<p>
As you will see on my resume, I'm not fresh out of school yet I've not been a professional web developer for long. I decided to make it my job 4 years ago, as I was a bartender working at nights. The choice was partly motivated by practical and financial reasons but it didn't come out of nowhere. I've always had my eye on this, ever since I saw HTML in action in Dreamweaver in 2001.
</p>
<p>
I hadn't been a computer geek before then. My interest came with the internet, its openings of all natures and its process. The fact that it is, at its core, a bunch of cables running between the oceans with a simplistic system as the traffic controller, is still quite fascinating to me. I've grown closer and closer to coding by experience, by wanting to make web stuff. At first just a page to host mixtapes, then a few Facebook apps made with pseudo code, then more and more sofisticated websites in PHP and JavaScript, for me or others, before I settled on Ruby on Rails as my stack.
</p>
<p>
When I decided to become a professional at this, I put myself in the position of a student and started exploring the theory of software development. I encountered the concept of clean code, through the book of the same name, and contrasted it with my struggles with unplanned PHP; the decision to go for RoR and its principles became self evident. I knew that structure was the most important, more so than syntax or general geekery. As I was reading and producing more, I was building a developer mindset.
</p>
<p>
As I was just finishing the demo app I've been working on lately, I realized the code I have built up is still a joy to work with: it manifests control, assurance, clarity, unison. It is light, testable, solid, it keeps on growing in an orderly fashion, by creating new classes and using the restful actions of the controllers already in place. I apply to a web developper position today confident about my skills. 
</p>
<p>
I am of course aware of how much room there is for improvement, and how there will always be. That's a big reason why I've chosen this path also, the promise of continuous learning. As attested by my resume, I've always liked to try new things, cultivating a sense and a taste for adaptability and observation. What I want now is an environment that facilitates new aquisitions. My last position didn't provide that for me, as I was the only developer in a start-up of business people, and this will be the main priority for the next.
</p>
<p>
I also look forward to get back at work on a real project, with a team. I can't say any of my past carreers have helped with coding itself, but I know some workplace dynamics are universal. Everywhere I've been, good work have only been achieved with those ingredients: structure and communication, evaluation and prospection, zen and resolution. The science of collective intelligence might not be as shiny as its artificial counter-part, but it most certainly does have potential.
</p>
<p>
Hoping to have convinced you of my worth, I look forward to being a part of your collective soon.
</p>
<p>
Best, Jean-Charles Belouard.
</div>
