<div class="d-flex flex-row">
  <%= link_to "Back", :back, class: "back-button" %>
  <%= link_to "Download resume", download_resume_path, class: "download-button" %>
</div>
<%= image_tag "resume/resume-jc-belouard.jpg", class: "resume" %>