<span>Date: <%= order.created_at.strftime("%Y-%m-%d") %></span>
-
<span>Amount: <%= price(order.amount) %></span>

<ul>
  <% order.order_lines.each do |line| %>
    <li>
      <%= render partial: 'orders/order_line', locals: { order_line: line } %>
    </li>
  <% end %>
</ul>