/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // #fe4a49 • #2ab7ca • #fed766 • #e6e6ea • #f4f4f8
 // #96ceb4 • #ffeead • #ff6f69 • #ffcc5c • #88d8b0
 $primary: #2ab7ca;
 $secondary: #ffeead;
 $danger: #ff6f69;
 $success: #88d8b0;
 $warning: #ffcc5c;
 $info: #96ceb4;
 $light: #e6e6ea;

@import 'bootstrap';
@import 'main';
@import 'resume';