// html {
//   min-height: 100vh;
// }

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.alert {
  margin-bottom: 0;
}

.nav-item {
  margin: 2px;
}

.navbar-brand {
  font-size: 1.75rem;
}

.welcome {
  background-image: url(mall1.jpg);
  background-size: cover;
  background-position: bottom;
  color: $secondary;
}

.hue {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 750px;
  padding: 1rem;
  background-color: hsla(180, 70%, 37%, 0.75);
}

.home-links {
  margin: 0.5rem;
}

.presenter {
  background-size: cover;
  background-position: bottom;
}

.presenter-text {
  background-color: hsla(2, 100%, 71%, 0.75);
  // margin-left: -15rem;
  // margin-right: -15rem;
}

.card-subtitle {
  font-size: 0.8rem;
  color: $danger;
}

.card {
  display: inline-flex;
  margin: 1rem;
}

.card-body {
  height: 12rem;
}

.card-text {
  height: 3em;
}

.card-title {
  color: black !important;
  text-decoration: inherit;
}

.card-bottom-0 {
  color: $secondary;
  position: absolute;
  background-color: hsla(180, 70%, 37%, 0.75);
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  bottom: 13rem;
  left: 1rem;
}

.card-bottom-1 {
  color: $secondary;
  position: absolute;
  background-color: hsla(180, 70%, 37%, 0.75);
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  bottom: 13rem;
  right: 1rem;
}

.card-bottom-2 {
  color: $secondary;
  position: absolute;
  background-color: hsla(180, 70%, 37%, 0.75);
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  bottom: 15rem;
  left: 1rem;
}

.card-bottom-3 {
  color: $secondary;
  position: absolute;
  background-color: hsla(180, 70%, 37%, 0.75);
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  bottom: 15rem;
  right: 1rem;
}

.card-bottom-4 {
  color: $secondary;
  position: absolute;
  background-color: hsla(180, 70%, 37%, 0.75);
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  bottom: 17rem;
  left: 1rem;
}

.card-subtitle {
  text-align: right;
}

.add-form {
  padding: 10px;
  margin-left: 22px;
  border-radius: 10px;
  background-color: $primary;
  display: inline;
  // width: 120px;
}

.add-label {
  padding: 6px;
}

.add-number {
  background-color: $primary;
  width: 45px;
  border: none;
  text-align: right;
  outline: none;
}

.add-submit {
  border: none;
  background-color: $primary;
}

.form-devise {
  width: 50%;
  max-width: 520px;
  min-width: 240px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-devise-field {
  margin-top: 2rem;
}

.form-devise-title {
  margin-left: 1rem;
}

.form-devise-links {
  a {
    margin: 0.3rem;
    color: $dark;
  }
}

// dashboard

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 200px;
  max-width: 250px;
  // margin-left: 1rem;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  width: 100%;
  min-height: 70vh;
}

.dashboard-header {
  padding-left: 16px;
  background-color: $light;
  min-height: 4rem;
}

.dashboard-nav {
  width: 100%;
  min-height: 4rem;
}

.form-dashboard {
  width: 90%;
  // max-width: 520px;
  min-width: 240px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tag-dashboard {
  max-width: 250px;
}

.form-dashboard-field {
  width: 80%;
  margin-top: 0.2rem;
  margin-left: 2rem;
  display: inline-flex;
}

.label-dashboard {
  min-width: 130px;
  color: $dark;
}

.input-dashboard {
  margin-left: 2rem;
  min-width: 150px;
}

.check-dashboard {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

.submit-dahsboard {
  margin-left: 180px;
}

.image-dashboard {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.file-dashboard {
  margin-left: 2rem;
}

.product-full {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}

.product-full-body {
  flex: 1;
}

.product-full-title {
  padding-left: 10%;
  background-color: hsla(180, 70%, 37%, 0.75);
}

.product-carousel {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.product-image {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.product-full-price {
  font-size: 1.5rem;
}

.product-full-add {
  margin-left: 10%;
}

.carousel-control-prev-icon {
  background-image: url(icons/carousel-prev-b.png)
}

.carousel-control-next-icon {
  background-image: url(icons/carousel-next-b.png)
}


