.alert {
  margin-bottom: 0;
}

.nav-item {
  margin: 2px;
}

.navbar-brand {
  font-size: 1.75rem;
}

.welcome {
  // max-width: 80%;
  background-image: url(mall1.jpg);
  background-size: cover;
  color: $secondary;
}

.hue {
  max-width: 750px;
  padding: 1rem;
  background-color: hsla(180, 70%, 37%, 0.75);
}

.card-subtitle {
  font-size: 0.8rem;
  color: $danger;
}

.card {
  display: inline-flex;
  margin: 1rem;
}

.card-body {
  height: 12rem;
}

.card-text {
  height: 3em;
}

.card-title {
  color: black !important;
  text-decoration: inherit;
}

.card-subtitle {
  text-align: right;
}

.add-form {
  padding: 10px;
  margin-left: 22px;
  border-radius: 10px;
  background-color: $primary;
  display: inline;
  width: 120px;
}

.add-label {
  padding: 6px;
}

.add-number {
  background-color: $primary;
  width: 45px;
  border: none;
  text-align: right;
  outline: none;
}

.add-submit {
  border: none;
  background-color: $primary;
}