<div id="sales" class="collapse" data-parent="#content">
  <div class="d-flex flex-column align-items-center">
    <ul class="list-group">
      <% @sales.each do |sale| %>
        <li class="list-group-item bg-light">
          <%= render partial: 'sales/line', locals: { sale: sale } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>