<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <% @pages_urls.each do |page, url| %>
      <li class="page-item">
        <%= link_to page, url, class: "page-link" %>
      </li>
    <% end %>
  </ul>
</nav>