<div class="jumbotron jumbotron-fluid presenter" style="background-image: url(<%= url_for(presentee.cover) %>)">
  <h3 class="presenter-text d-flex justify-content-center"><%= presentee.name %></h3>
  <p class="presenter-text d-flex justify-content-center"><%= presentee.description %></p>
</div>